
body {
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Quicksand', sans-serif;
  background-image: url("https://previews.123rf.com/images/valeriaz/valeriaz1701/valeriaz170101007/69817544-currency-seamless-pattern-dollar-sign-background-texture-with-usd-paper-money-symbols-dark-objects-o.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#budgetBox, #expenseBox {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid #1C4220;
}

#listBox {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.categoryLists {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
}

h3 {
  width: 100%;
  height: 25px;
  padding: 5px 1px;
  text-align: center;
  border-bottom: 1px solid #1C4220;
  color: #FFF;
}

h1, h2 {
  width: 100%;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
  text-align: center;
}


input {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  color: #1C4220;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  outline: #1C4220;
}


button {
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  background-color: #1C4220;
  color: #FFF;
  border-radius: 5px;
  outline: #1C4220;
}

p:not(:empty) {
  width: 100%;
  padding: 5px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
  text-align: center;
}

select {
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  background-color: #1C4220;
  color: #FFF;
  border: 1px solid;
  border-radius: 5px;
  outline: #1C4220;
}

ul {
  width: auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  color: #FFF;
  align-items: center;
}

span:not(:empty){
  margin: 0px 10px;
  padding: 0px 5px;
  border: 1px dashed;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}





  /* Screen Size 500px + (was 760) */
  @media only screen and (min-width:500px) {

    main {
      display: flex;
      flex-direction: row;
    }

    #budgetBox, #expenseBox, #listBox {
      width: 33.4%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: none;
    }
        h1 {
          margin-bottom: 50px;
        }

        .setBudget{
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .enterExpense {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80px;
        }

        .budgetInput {
          margin-top: 60px;
        }

        input {
          width: 100px;
        }


    #expenseBox {
      border-left: 5px solid #1C4220;
      border-right: 5px solid #1C4220;
    }
        select {
          margin-bottom: 30px;
        }

        button {
          margin-top: 20px;
          width: 100px;
        }


    #listBox {
      display: flex;
      flex-direction: column;
    }
        .categoryLists {
          width: 100%;
          overflow-y: auto;
        }

  }





    /* Screen Size 780px + */
    @media only screen and (min-width:720px) {

      h1 {
        height: 80px;
        font-size: 40px;
      }

      input {
        width: 200px;
      }

      button {
        width: 150px;
      }

  }





  /* Screen Size 995px + */
  @media only screen and (min-width:995px) {

    .setBudget, .enterExpense {
      height: 100px;
      font-size: 50px;
    }
        select, button {
          width: 150px;
          height: 50px;
        }

        input {
          width: 300px;
          height: 50px;
        }
            .budgetInput {
              margin-top: 80px;
            }

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;
          font-size: 40px;
        }

  }





  /* Screen Size 1200px + */
  @media only screen and (min-width:1200px) {

    select, button {
      width: 200px;
    }

    input {
      width: 400px;
    }

  }
